body {
  margin: 10px 10px 10px 10px;
  font-family: Ariel, serif;
  background-image: url("https://images.yourstory.com/cs/wordpress/2018/03/coding-job.png?fm=png&auto=format");
  background-position: 50% 50%;
  background-repeat: repeat;
  
}
  
h1 {
  font-family: Ariel, serif;
  color: #ffffff;
  font-size: 48px;
  font-stretch: ultra-expanded;
  border: 10px solid #ffffff;
  
  
}

h2 {
  color: #ffffff;
  font: bold 28px serif;
}

h3 {
  font: 16px italic;
}
#frame {
  font-family: serif;
  color: #ffffff;
  margin: 10% auto 10%;

.single {
  line-height: .75;
}

