body {
  margin: 20px 20px 20px 20px;
  font-family: Ariel, serif;
  background-color: #191970;
  
  
}
  
h1 {
  font-family: Ariel, serif;
  color: #ffffff;
  font-size: 48px;
  font-stretch: ultra-expanded;
  border: 5px solid #c0c0c0;
  padding: 5 5 5 5;
  
}

h2 {
  color: #ffffff;
  font: bold 28px serif;
  padding: 0 0 0 0;
}

h3 {
  font-size: 16px;
  font-weight: italic;
}
#frame {
  font-family: serif;
  color: #ffffff;
  margin: 0% auto 0%;
  
}

h4 {
  font-size: 22px;
  font-color: #c0c0c0;
}
h5 {
  font-size: 22px;
  font-weight: italic;
}

 
.single {
  line-height: .50;
}

.date {
    float: right;
  }

