body {
  margin: 10px 10px 10px 10px;
  font-family: Ariel, serif;
  background-image: #000000;
  
}
  
h1 {
  font-family: Ariel, serif;
  color: #ffffff;
  font-size: 48px;
  font-stretch: normal;
  border: 10px solid #00008B;
  
  
}

h2 {
  color: #ffffff
  font: bold 28px serif;
}
